<div class="item px-1">
    <div routerLink="/details/{{data.id}}">
        <img src="{{data.image}}" alt="">
        <div class="body">
            <div class="d-flex justify-content-between align-items-center pt-4 ">
                <h6>{{data.title}}</h6>
                <i class="fas fa-eye" style="color: rgb(203, 202, 200);"></i>
            </div>
            <p class="text-muted" style="padding-left: 0 !important;">  {{data.description}}</p>
        </div>
    </div>
    <hr>
    <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
        <button class="btn btnAdd" *ngIf="!addButton" (click)="addButton=true">Add To cart +</button>
        <div class="d-flex w-50" *ngIf="addButton">
            <input type="number" class="form-control" min="1" [(ngModel)]="amount">
            <button class="btn add" (click)="add();addButton=false">
                ADD
            </button>
        </div>
        <span>{{data.price}}L.E</span>
    </div>
</div>