<div class="position-relative">
    <img src="../../../../assets/images/slider-01_d7be020a-6491-4777-8ec0-859f2eb4ba72.webp" class="w-100" alt="">
    <div class="caption">
        <h3 class="specialFont text-center">FASHION SHOP</h3>
        <h1 class="specialFont fw-bolder">PETER SHOP</h1>
    </div>
</div>

<!-- filter products -->
<div class="py-3 w-50 m-auto container">
    <app-select [data]="categories" [title]="'Categories'" (selectedValue)="filterCategory($event)"></app-select>
</div>
<!-- filter products -->
<!-- start show all products -->
<div class="row container m-auto" *ngIf="!loading">
    <div class="col-md-3" *ngFor="let item of products ; let i = index">
        <app-product [data]="item"></app-product>
    </div>
</div>
<div class="text-center m-auto w-100" *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<!-- end show all products -->