<img src="../../../../assets/images/iPhone6-850x340.jpg" class="w-100" alt="">
<!-- filter products -->
<div class="py-3 w-50 m-auto container">
    <app-select [data]="categories" [title]="'Categories'" (selectedValue)="filterCategory($event)"></app-select>
</div>
<!-- filter products -->
<!-- start show all products -->
<div class="row container m-auto" *ngIf="!loading">
    <div class="col-md-3" *ngFor="let item of products ; let i = index">
        <app-product [data]="item"></app-product>
    </div>
</div>
<div class="text-center m-auto w-100" *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<!-- end show all products -->