<footer class="bgFooter p-3">
    <div class="row container m-auto py-5">
        <div class="col-md-3 mt-2">
            <img src="assets/images/logo_200x.webp" class="w-75" alt="">
            <p class="pt-4">
                At vero eos et accusamus et iusto odio dignissimos ducimus, duis faucibus enim vitae
            </p>
        </div>
        <div class="col-md-3 mt-2">
            <h2 class="special pb-3">Our Company</h2>
            <li>Blog</li>
            <li>Search</li>
            <li>Faq's</li>
            <li>Collection</li>
            <li>Delivery</li>
        </div>
        <div class="col-md-3 mt-2">
            <h2 class="special pb-3">Products</h2>
            <li>Contsct Us</li>
            <li>Delivery</li>
            <li>Legal Notice</li>
            <li>Terms & Conditions Of Use</li>
            <li>About Us</li>
        </div>
        <div class="col-md-3 mt-2">
            <h2 class="special pb-3">Store Information</h2>
            <p>My Company, 42 Puffin Street 12345 Puffinville France</p>
            <p>0123-456-789</p>
            <p>sales@gmail.com</p>
        </div>
    </div>
    <div class="container layoutFooter py-4 px-3 my-3">
        <div class="row">
            <div class="col-md-5">
                <p class="signup special">Sign Up For Newsletter</p>
            </div>
            <div class="col-md-7">
                <div class="parent">
                    <input type="email" class="form-control w-100" placeholder="email@exampil.com">
                    <div class="child">
                        <button class="py-2 px-4">SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>