<div class="container-fluid">
    <div class="cartBox">
        <h1 class="special">Shopping Cart</h1>
        <div class="headCart d-flex justify-content-between align-items-center flex-wrap">
            <p class="lead">You have<label class="text-success fw-bolder px-2 special"> {{cartProducts.length}}
                </label>item in your cart</p>
            <span class="card-header" (click)="clearCart()">Clear Shopping Cart</span>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Totle</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartProducts ; let index=index">
                    <td><img src="{{item.item.image}}" alt=""></td>
                    <td>{{item.item.title}}</td>
                    <td class="text-danger">{{item.item.price}} LE</td>
                    <td>
                        <div class="quantity">
                            <button class="btn btn-dark" (click)="addAmount(index)">+</button>
                            <input class="form-control" type="number" (change)="detectChange()"
                                [(ngModel)]="item.quantity" min="1">
                            <button class="btn btn-dark" (click)="minsAmount(index)">-</button>
                        </div>
                    </td>
                    <td>{{item.item.price * item.quantity}} L.E</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteProduct(index)">Delete</button>
                    </td>
                </tr>
            </tbody>

        </table>
        <div class="d-flex justify-content-between py-3">
            <p><strong>Total</strong> : {{total}} LE</p>
            <button class="buttonStyle px-5 py-1 bg-dark" (click)="addCart()">Order Now</button>
        </div>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="success">
        <strong>Well Done</strong>
        Your Order is Successfully Send
    </div>
</div>