<ul class="nav d-flex">
    <li class="nav-item">
        <a class="nav-link logo" aria-current="/">
            <img src="assets/images/logo_200x.webp" class="w-100" alt="">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="cart" routerLinkActive="active">Cart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">About Us</a>
    </li>
</ul>