<div class="bg d-flex justify-content-center align-items-center">
    <div class="text-white special">
        <h2>contact us</h2>
    </div>
</div>

<div class="my-4">
    <h2 class="special text-center">Template Trip Pvt. Ltd.</h2>
    <div class="row container m-auto">
        <div class="col-md-4 mt-2">
            <div class="border-box d-flex justify-content-center align-items-center">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <p class="text-muted mt-3 text-center">
                Address: <br>
                4030, Central Bazzar, opp. <br>
                Varachha Police Station, Surat
            </p>
        </div>
        <div class="col-md-4 mt-2">
            <div class="border-box d-flex justify-content-center align-items-center">
                <i class="fas fa-blender-phone "></i>
            </div>
            <p class="text-muted mt-3 text-center">
                Fax numbers: <br>
                123456789
            </p>
        </div>
        <div class="col-md-4 mt-2">
            <div class="border-box d-flex justify-content-center align-items-center">
                <i class="fas fa-envelope"></i>
            </div>
            <p class="text-muted mt-3 text-center">
                Email: <br>
                info@example.com
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row m-auto">
        <div class="col-md-6 mt-2">
            <input type="text" class="form-control py-2" placeholder="name" id="">
            <input type="email" class="form-control py-2" placeholder="email" id="">
            <input type="number" class="form-control py-2" placeholder="Phone Number" id="">
            <textarea class="form-control py-2" placeholder="message" cols="30" rows="10"></textarea>

        </div>
        <div class="col-md-6 mt-2">
            <iframe class="w-100 map" name="google"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110550.23394949241!2d31.259684069579276!3d30.016918400492894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458469235579697%3A0x4e91d61f9878fc52!2z2KfZhNis2YrYstip2Iwg2YLYs9mFINin2YTYudmF2LHYp9mG2YrYqdiMINin2YTYrNmK2LLYqQ!5e0!3m2!1sar!2seg!4v1612988339002!5m2!1sar!2seg"
                height="450"></iframe>
        </div>
    </div>
</div>