/* You can add global styles to this file, and also import other style files */
@import "scss/variables";

body {
    padding: 0;
    margin: 0 !important;
    background-color: rgba(250, 250, 250, 0.9);
}

* {
    font-family: 'Courier New', Courier, monospace;
}

// main font 
* {
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

.specialFont {
    font-family: 'Roboto', sans-serif !important;
    font-family: 'Playfair Display SC', serif !important;
    font-family: 'Playfair Display', serif !important;
}

.special {
    font-family: 'Playfair Display SC', serif !important;
    font-style: italic;
}

// owl carsoul
.ng-image-slider .ng-image-slider-container .main .next.disable,
.ng-image-slider .ng-image-slider-container .main .prev.disable {
    color: #fff !important;
    background-color: $mainColor  !important;
    opacity: .5;
    cursor: default;
}

.ng-image-slider .ng-image-slider-container .main .next,
.ng-image-slider .ng-image-slider-container .main .prev {
    background-color: $mainColor  !important;
    color: #fff !important;
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption {
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: gray !important;
    background-image:none !important;
    font-family: $specialFont;
}



.buttonStyle {
    color: white;
    background-color: #000;
    border: none;
    transition: all .3s unset;
}

.buttonStyle:hover {
    color: white;
    background-color: $mainColor;
}
